<link rel="stylesheet" href="css/form.css">

<form action="mailto:saxena24harshit@gmail.com" method="post"   enctype="text/plain" id="contact">
    <div class="contact_div">
        <label class="contact_label_name">Your Name</label><br>
        <input type="text" class="contact_name"><br>
        <label class="contact_label_email">Enter Your email</label><br>
        <input type="email" name="contact_email" class="contact_email"><br>
        <label class="contact_label_comment" >comment</label><br>
        <textarea class="contact_comment" rows="10ds"></textarea> 
        <button type="submit" class="contact_button">Submit</button>
        
    </div>
</form>

<%- include("footer") %>