 
<div id="contact">
    <div class="about_us">
        <h3 class="about_us_heading">
            ABOUT US
        </h3>
        <P>
            Forgot the recipe of your favorite food! wanna try something exotic from around the world, this website help you find the best recipe for any food you want to cook and last you post your latest recipe that you invented. Now, you can do all this and more on this website 
        </P>
    </div>
    <div class="contact_me">
        <form action="/" method="post" >

            <h4 class="contact_label name">Your Name</h4><br>
            <input type="text" class="contact_name" name="C_name"><br>

            <h4 class="contact_label email">Enter Your email</h4><br>
            <input type="email" name="C_email" class="contact_email"><br>

            <h4 class="contact_label comment" >comment</h4><br>
            <textarea class="contact_comment" rows="10ds" name="C_comment"></textarea> <br>

            <button type="submit" class="contact_button button">Submit</button>       
        </form>
    </div>
</div>
<script type='text/javascript' src ='/public/index.js'></script>


<%- include("footer") %> 