<link rel="stylesheet" href="css/form.css">

<div id="contact">
    <div class="about_us">
        <h3 class="about_us_heading">
            ABOUT US
        </h3>
        <P>
            Forgot the recipe of your favoreit recipe! wanna try something exotic from around the world, this website help you find the best recipe for any food you want to cook and last you post your latest recipe that you invented. Now, you can do all this and more on this website 
        </P>
    </div>
    <form class="contact_me" action="/" method="post" >
            <label class="contact_label_name">Your Name</label><br>
            <input type="text" class="contact_name" name="C_name"><br>
            <label class="contact_label_email">Enter Your email</label><br>
            <input type="email" name="C_email" class="contact_email"><br>
            <label class="contact_label_comment" >comment</label><br>
            <textarea class="contact_comment" rows="10ds" name="C_comment"></textarea> 
            <button type="submit" class="contact_button">Submit</button>       
    </form>
    <script src="/public/sendEmail.js" type="text/javascript"></script>
</div>



<%- include("footer") %>