<footer>
    <p>copyright @ 2023-24 harshit saxena</p>
</footer>

<script src="app.js" charset="UTF-8" type="text/javascript"></script>
<script>"https://smtpjs.com/v3/smtp.js"</script>
</body>

</html>