<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavour Safari</title>
    <!-- icon -->
    <link rel="shortcut icon" href="\public\images\favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/55eca10c90.js" crossorigin="anonymous"></script>

    <!-- font family  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/title.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/detail_cuisine.css">
    <link rel="stylesheet" href="/public/css/cuisine_card.css">
    <link rel="stylesheet" href="/public/css/learnMore.css">
  </head>
  <body>

