<%- include("navbar") %>

<ul>

        <h1><%= heading %></h1>
<% content.forEach((e)=> { %>
        <li>
           step <%= e.number %>
            <br>
            <%= e.step %>
        </li>
<% }) %>
</ul>