<%- include("navbar") %>

<ul>

        <h1 class="recipe_name"><%= heading %></h1>
<% content.forEach((e)=> { %>

        <li class="recipe_step">
            step <%= e.number %>
            <br>
            <%= e.step %>    
        </li>      

<% }) %>
</ul>
<script src="/public/index.js" type="text/javascript"></script>