<%- include("header") %>

<section id="header-sec">
  <nav class="nav-bar">
      <img src="images\pngwing.com.png" alt="logo" class="logo-img">
      <form class="navbar_form" action="/searched_item" method="post">
        <input type="text" name="search_cuisine" placeholder="search">
        <button type="submit" >Search</button>
      </form>
        <div class="nav-items">
          <a class="nan-link" href="/">Home</a>
          <a class="nan-link" href="">Contact</a>
          <a class="nan-link" href="/nav_link/blog">Blog</a>
          <a class="nan-link" href="/nav_link/saved_recipe">Saved recipes</a>
        </div>
      </div>
    </nav>
  </section>