<%- include("header") %>

  <section id="header-sec">
    <div class="coverpage display">
    </div>
    <nav class="nav-bar flex">


      <div class="visibleInMobile flex">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="notvisibleInMobile display ">

        <div class="nav-items flex">
          <a class="nav-CTA" href="/">Home</a>
          <a class="nav-CTA" href="http://localhost:3000/#contact" id="Contact_link">Contact</a>
          <!-- <a class="nav-CTA" href="/nav_link/saved_recipe">Saved recipes</a> -->
        </div>

      </div>

      <form class="navbar_form display" action="/searched_item" method="post">
        <input class="button" type="text" name="search_cuisine" placeholder="search">
        <button class="button" type="submit">Search</button>
      </form>
      



      </div>
    </nav>
  </section>