<%- include("navbar") %>
<link rel="stylesheet" href="css\title.css" />

<div class="header">
  <img src="images\title-img.png" alt="Image of a dish" class="title-img" />
  <img
    src="images\HeaderBackground.jpg"
    alt="title_backgroundImg"
    class="title-background"
  />

  <h1 class="title">Flavour Safari</h1>
  <br />
  <h5 class="title-quote">Explore the flavors of the world</h5>
</div>
