<%- include("navbar") %>

<div class="header">

<div class="title_section">
  <h1 class="title">Flavour Safari</h1>
  <br />
  <h5 class="title-quote">Explore the flavors of the world</h5>
</div>

</div>

