
.heading-cuisine{
  background-color: var(--primary-color);
  width: 100vw;
  height: fit-content;
}
.cuisine {
  color: var(--primary-text-c);
  width: 70vw;
  padding-top: 2rem;
  margin:0 0 0 2rem;
  font-size: 10vw;
  background-image: linear-gradient(to right, var(--primary-text-c) 0, var(--primary-text-c)  100%);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 94vw;
  text-decoration:underline 3px var(--primary-text-c);
  text-underline-offset: 5px;
}
.des{
  margin: 0 2rem;
  padding:2rem 0;
}

/* cuisine card */
.card_collection{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(40vh , 1fr));
  gap: 2rem;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.card_img{
  height: 40vh;
  width: 40vh;
}