
.heading-cuisine{
  background-color: var(--primary-color);
  width: 100vw;
  height: fit-content;
}
.cuisine {
  color: var(--primary-text-c);
  width: 70vw;
  padding-top: 2rem;
  margin:0 0 0 2rem;
  font-size: 10vw;
  text-decoration:underline 3px var(--primary-text-c);
  text-underline-offset: 5px;
}
.des{
  margin: 0 2rem;
  padding:2rem 0;
}

/* cuisine card */
.card_collection{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(40vh , 1fr));
  gap: 2rem;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 41vh;
}
.card_img{
  height: 40vh;
  width: 40vh;
}
.cuisineHeading{
  gap: 2rem;
  justify-content: flex-start;
}
.cuisineHeading a{
  outline: solid var(--accennt-color);
  color: var(--accennt-color);
  background-color: var(--bg-c);
  padding:  0 1rem;
}
.card p{
  margin-top: 0;
}
.card h3{
  color: var(--primary-text-c);
}
