:root {
    --textColor: rgb(255, 254, 137);
    --primaryColor: rgb(165, 250, 165);
    --secondaryColor: rgb(219, 35, 166);
    --fontSize: 100px;
    --headingFont: 70px;
    --subheading: 50px;
  }
  html,
  body {
    background-color: #fdfdfd;
    margin: 0;
    font-size: var(--fontSize);
    color: var(--textColor);
    
  }
  #detail_cuisine_body{
    margin: 0;
    background-color: rgb(223, 250, 250);
  }
  #grid-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .4rem;
  }

  #detail_cuisine_body>h1{
    width: fit-content;
    margin: auto auto 1rem auto;
    padding: .6rem 0 0 0;
    background-image: linear-gradient(to right,#ffd977 0,#ffd977 100%);  
    background-size: 3px 3px ;
    background-repeat: repeat-x;
    background-position: 0 94%;
    font-size: var(--headingFont);
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .content{
    background-color: #fdfdfd;
    display: inline;
    text-align: center;
    width: auto;
  }
  .detail_cuisine_heading{
    display: block;
    font-size: .3rem;
    background-image: linear-gradient(to right,#ffd977 0,#ffd977 100%);  
    background-size: 2.5px 2.5px ;
    background-repeat: repeat-x;
    background-position: 0 100%;
    color: #000;
    margin-top: -10px;
  }
  .flex_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
  }
  .detail_cuisine_img{
    position: relative;
    top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  .learn_more{
    background-color: var(--secondaryColor);
    color: var(--textColor);
  }
  .saved_recipe{
    background-color: var(--textColor);
    color: var(--secondaryColor);
    border-style: none;
    padding: 0;
    cursor: pointer;
  }
  .learn_more, .saved_recipe{
    display: inline-block;
    border-radius: 25px;
    font-size: .2rem;
    width: 150px;
    text-align: center;
    margin-bottom: .3rem;
  }

  