/* 
  #detail_cuisine_body{
    margin: 0;
    height: 100vh;
  }
  #grid-layout{
    background-color: rgb(223, 250, 250);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .4rem;
  }

  #detail_cuisine_body>h1{
    width: fit-content;
    margin: auto auto 1rem auto;
    padding: .6rem 0 0 0;
    background-image: linear-gradient(to right,#ffd977 0,#ffd977 100%);  
    background-size: 3px 3px ;
    background-repeat: repeat-x;
    background-position: 0 94%;
    font-size: var(--headingFont);
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .content{
    background-color: #fdfdfd;
    display: inline;
    text-align: center;
    width: auto;
  }
  .detail_cuisine_heading{
    display: block;
    font-size: .3rem;
    background-image: linear-gradient(to right,#ffd977 0,#ffd977 100%);  
    background-size: 2.5px 2.5px ;
    background-repeat: repeat-x;
    background-position: 0 100%;
    color: #000;
    margin-top: -10px;
  }
  .flex_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
  }
  .detail_cuisine_img{
    position: relative;
    top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  .detail_cuisine_CTA{
    display: flex;
    gap: .2rem;
    margin-top: .3rem;
  }
  .learn_more{
    background-color:#2b2b2b ;
  }
  .saved_recipe{
    outline: #2b2b2b 3px solid ;
    color: #4a4a4a;
    border-style: none;
    padding: 0;
    cursor: pointer;
  }
  .learn_more, .saved_recipe{
    display: inline-block;
    border-radius: 25px;
    font-size: .2rem;
    width: 150px;
    text-align: center;
    margin-bottom: .3rem;
  }
   @media(max-width: 950px){
    #grid-layout{
      grid-template-columns: repeat(2, auto);
      gap: .3rem;
      background-color: rgb(223, 250, 250);
    }
    #detail_cuisine_body>h1{
      font-size: .5rem;
    }
   }
   @media (max-width: 500px) {
     #grid-layout{
      background-color: rgb(223, 250, 250);
      display: flex;
      flex-direction: column;
    }
    body{
      font-size: 75px;
    }
   } */