:root {
  --textColor: rgb(218, 236, 82);
  --primaryColor: rgb(104, 204, 104);
  --secondaryColor: rgb(219, 35, 166);
  --fontSize: 100px;
  --headingFont: 70px;
  --subheading: 50px;
}
html,
body {
  margin: 0;
  font-size: var(--fontSize);
  color: var(--textColor);
}

/*           navbar           */
#header-sec{
  z-index: 10;
  top: 0px;
  position: fixed;
  width: 100vw;
  background-color: #252424;
}
a {
  color: #fff;
  text-decoration: none;
}
.logo-img {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}
.nav-bar {
  display: flex;
}
.nav-items {
  width:35vw ;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: .2rem;
  margin-left:30vw;
  margin-right: 5vw;
}
.search_cuisine{
  display : inline-block
}
.navbar_form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_form >input,button{
  border: none;

}
.navbar_form>input{
  padding-left: 10px;
  width: 200px;
  height: .2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
input:focus{
   outline: none;
} 
.navbar_form>button{
  width: 70px;
  height: .215rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


/* footer */
footer>p {
  background-color: #2b2b2b;
  color: #4a4a4a;
  text-align: center;
  display: block;
  font-size: 0.2rem;
  padding: 0;
  margin: 0;
}
