:root{
--primary-color : #e1e1e1;
--accennt-color:#FFAB7F;
--secondary-text-c: #7b7b7b;
--primary-text-c: #272626;
--accent-text-c : #fff;
--bg-c : var(--accent-text-c);
}

body,html{
  margin: 0;
  padding: 0;
}
p{
  color: var(--secondary-text-c);
}
button{
  outline: none;
  background: var(--bg-c);
  white-space: nowrap;
}
/* utility class */
.button{
  outline: solid var(--accennt-color);
  color: var(--accennt-color);
  background-color: var(--bg-c);
  border: none;
}
.display{
  display: none;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar  */
.coverpage{
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient( white ,#d6d6d6);
  opacity: .5;
}
#header-sec{
position: fixed;
width: 100vw;
height: fit-content;
display: block;
z-index: 10;
}
.nav-bar{
  flex-direction: column;
  gap: 20%;
  height: fit-content;
}

.fa-bars{
  font-size: 2.4rem;
  margin-right: 1.5vh;
}
.fa-magnifying-glass{
  font-size: 2rem;
}
.visibleInMobile{
  margin: .5rem 91% .5em 4rem;
  z-index: 12;
  width: 80%;
  color: var(--accennt-color);
}
.contrast{
  color: #fff;
}
.notvisibleInMobile{
  width: 80%;
  height: fit-content;
  flex-direction: column;
  gap: 1rem;
}
.nav-items{
  z-index: 10;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: medium;
  margin-top: 5%;
}
a{
  margin: 3%;
  color: var(--primary-text-c);
  text-decoration: none;
}
.navbar_form{
  position: absolute;
  top: 1rem;
  z-index: 10;
  width: 50%;
  animation: search .5s forwards;
}
@keyframes search{
  0%{
    translate: 0 .5rem;
    opacity: .1;
  }  
  100%{
    opacity: 1;
    translate: 3rem .5rem;
  }
}
.navbar_form>input{
  width: 70%;
}
.navbar_form>button{
  width: 30%;
}
@media(min-width:1100px){
.visibleInMobile{
  margin: -1rem 91% .5em 1rem;
 }
.navbar_form{
  top: -.5rem;
 }
}
@media(min-width:1300px){
  .visibleInMobile{
    color: black;
  }
}









