
img{
  width: 100px;
}
body {
  font-family: "Open Sans", sans-serif;

}

.header{
  background-image: url("/public/images/newBG.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height:65vw;
  overflow: hidden;
}



.title_section {
  top: 20vw; 
  color:black;
  position: absolute;
  line-height: .5rem;
  margin: 2rem;
}

.title {
  font-size: clamp(2rem, 12vw , 5rem);
  white-space: nowrap;
}
.title-quote {
  font-size: clamp(1rem,4vw, 2rem);
  white-space: nowrap;
}
@media(min-width:1100px){
  .header{
    width:1200px;
    height: 700px;
    margin: 2rem 2rem 0 auto;
    background-size: 1130px;
  }

}