
img{
  width: 100px;
}
body {
  font-family: "Open Sans", sans-serif;

}

.header{
  overflow: hidden;
}

.title-img {
  width: 100vw;
  position: absolute;
  z-index: 2;
  right: -50vw;
  top: 15vh;
}
.title-background {
  margin-top: 4rem;
  width: 100vw;
  height: 20%;
  margin-top: 8vh;
}
.title_section {
  width: 40vw;
  height: fit-content;
  top: calc(20vh + 10vw);
  color: #fff;
  position: absolute;
  line-height: .5rem;
}

.title {
  font-size: 8vw;
  white-space: nowrap;
}
.title-quote {
  font-size: 4vw;
  white-space: nowrap;
}
